{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <div class="Akshir">

    <h1><u><b>Welcome</b></u></h1> <br>

    <h3>Click Below ⬇️ to enter data uning which we will predcit the FWI(Fire Weather Index) of Algerian Forest </h3>

    </div>
    <div class="form">
        <form action="/predictdata" method="GET">
            <input type="submit" class="search" value="Search">
        </form>
    </div>
</div>
{% endblock %}